*{
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; 
 
}

#UserIcon{
  font-size: 500rem;
}

a{
  text-decoration: none;
}
/* 
#field{
  background-color: rgb(245, 226, 251) !important;
  border-radius: 5px;
} */

#body-form{
  background-image: url(img/background-gradient-lights.jpg);

}